body {
  /*background-color: rgb(230,175,127);
  background-color: rgb(255,126,90);
  background-color: #333333;*/
  /*background-color: #262626;
  background-color: #f5dfd6;
  background-color: #faefeb;
  background-color: #e7e4e5;
  background-color: #f3f2f2;*/
  background-color: #eae7dc;
  /*padding: 1.5%;*/
}
.mainDiv {
  margin: auto;
  margin-top: 1.5%;
  /*background-color: rgb(230,175,127);*/
  /*background-color: rgb(255,126,90);*/
  /*background-color: #ffebcc;*/
  /*background-image: linear-gradient(to right, #f1baa7, #ffefd5);*/
  /*background-color: #BAB2B5;*/
  background-color: #f3f2f2;
  padding: 2%;
  padding-top: 0.5%;
  /*min-height: calc(100vh - 70px);*/
}

h1 {
  
  font-family: 'Orbitron', sans-serif;
  color: #992100;
  color: #983455;
  color: #e8554a;
}

.navHeading {
  font-family: 'Orbitron', sans-serif;
}

.navBar {
  background-color: #0f3257;
  background-color: #e8554a;
  background-color: #eae7dc;
}

form {
  background-color: rgb(255,167,90); /*For browsers that do not support gradients*/
  /*background-image: linear-gradient(to right, #e66b00 , #ffbb80);*/
  background-color: #f0d0c2;
  background-color: #e0cfb8;
  padding: 2%;
  border: solid #e6e6e6 1px;
}

small {
  color: #5f666d;
}

section {
  background-color: rgb(255,208,90); /*For browsers that do not support gradients*/
  /*background-image: linear-gradient(to right, #e6a400 , #ffe299);*/
  background-color: #EEE2Dc;
  background-color: #dec6ba;
  background-color: #e8dbc9;
  padding: 2%;
  padding-bottom: 0.5%;
  border: solid #e6e6e6 1px;
}

.sub-heading {
  color: #334eff;
  color: #cb6788;
  color: #ea6a61;
}

#totalSection {
  margin-top: 1%;
  border-bottom: none;
}

#billAmount, #tipPercent {
  padding-left: 12px;
  padding-right: 12px;
}

#totalTip, #totalPrice, #splitTip, #splitPrice {
  font-size: 105%;
}

#splitBox, .splitBoxLabel {
  cursor: pointer;
}

#calculate {
  background-color: rgb(90,112,255); /*For browsers that do not support gradients*/
  /*background-image: linear-gradient(to right, rgb(90,112,255), #8091ff); */
  background-color: #123c69;
  background-color: #e8554a;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid rgba(0,0,0,.1) 1px;
}

#calculate:hover {
  background-color: #334eff; /*For browsers that do not support gradients*/
  /*background-image: linear-gradient(to right, #334eff, #667aff);*/
  background-color: #1a5799;
  background-color: #ea6a61;
}

.navBar a:hover {
  text-decoration: underline;
}

